$font-primary: Noto Sans HK;
$font-secondary: Calibri;
$footer-height: 34px;

.body {
  text-align: center;
  font-family: $font-primary, $font-secondary;
  padding: 20px;
  padding-bottom: 20px + $footer-height;
  background-color: #74EBD5;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
  //background: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245));
  min-height: 100vh;
}

.footer {
  position: fixed;
  bottom: -$footer-height; left: 0;
  background: rgb(52,58,64);
  width: 100%;
  color: white;
  transition: bottom 0.5s;
}

.footer-active {
  position: fixed;
  bottom: 0; left: 0;
  background: rgb(52,58,64);
  width: 100%;
  color: white;
}

button {
  margin: 10px;
}

p {
  margin: 5px;
}

form {
  display: inline-block !important;
}

.profile {
  border-radius: 100px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.track {
  display: inline-block;
  vertical-align: top;
  width: 220px;
}

.trackImage {
  transition: width 0.05s, height 0.05s, margin 0.05s;
  cursor: pointer;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.trackImage:hover {
  margin: 0px;
  width: 220px;
  height: 220px;
}